.container {

    cursor: pointer;
    display: flex;
    // flex-direction: row;
    align-items: center;
    justify-content: center;
    // border-radius: 10px 10px;
    // height: 100px;
    //     width: 100px;
    border-radius: 5px 5px;
    // background: #6d335c;
   
.Button {
        height: 40px;
        width: 120px;
        margin-right: 100px;
        align-items: center;
        background-color: #aa8e8d;
        color: #ffffff;
        // padding: var(--spacing-xs);
        border: none;
        border-radius: 20px 20px ;
        border-color: #ffffff;
        font-family: "Poppins", sans-serif;
        margin-bottom: 10px;

        svg {
            height: 100%;
        }

        // &:hover {
        //     color: var(--color-ui_grey);
        //     transition: color 0.2s ease-in-out;
        // }
    }

    // .text {
    // height: 30px;
    //     width: 30px;
    //     margin-right: 100px;
    //     background: #6d335c;
    //     padding: var(--spacing-xs);
    //     border: none;
    //     border-radius: 5px 5px;
    // }

}

