form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    color: #aa8e8d;
    text-align: center;
    font-size: 42px;
    font-weight: 900;
}

.todoInput,
.submitButton {
    position: relative;
    padding: 8px;
    font-size: 28px;
    border: none;
    background: #aa8e8d;
    color: white;
    border-radius: 10px 10px;
    font-family: "Poppins", sans-serif;
}

.submitButton {
    background: #6d335c;
        color: #aa8e8d;
}

.todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
}
ul{
    padding: 0;
}

.li{
    padding-left: 5px;
    position: relative;
    margin-left: 4px;
        background: #aa8e8d;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease;
        color: aliceblue;
        border-radius: 10px 10px;
        padding: 5px;
            margin-bottom: 5px;
            >div{
                width: 100%;
                    display: flex;
                    justify-content: space-between;
                    span{
                        line-height: 42px;
                    }
            }
        >div>div{
            display: flex;
        }
}

.li:hover, .deleteButton:hover {
    background: #aa8e8d;
    color: #6d335c;
}

.deleteButton {
    background: #6d335c;
    color: aliceblue;
    border-radius: 10px 10px;
    margin-right: auto;
    display: inline-table;
    margin-right: 5px;
    border: none;
    width: 48px;
    height: 48px;
    
}

.completeButton {
    background: #6d335c;
    color: #6d335c;
    border-radius: 10px 10px;
    margin-right: auto;
    display: inline-table;
    margin-right: 5px;
    border: none;
        width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
    input[type="checkbox"]{
            accent-color: #6d335c;
            background: #6d335c;
            
            -ms-transform: scale(2);

                transform: scale(2);
                accent-color: #6d335c;
                padding: 10px;
    }
}

